.app {
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  /* height: 90%; */
}
.app input,
.app button {
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 10px;
  font-size: 24px;
  margin: 10px;
}

.app button {
  cursor: pointer;
  transition: 0.2s;
}
.app button:hover {
  background-color: #267fd9;
}

.city {
  color: #267fd9;
}
.temp {
  color: #db5757;
}
h1,
h2,
h3 {
  font-weight: normal;
}
span {
  font-weight: bold;
}

.countryFlag {
  max-height: 25px;
  border: 0.9px solid black;
}
